@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust the margin as needed */
}
  